.product-card{
    padding: 2rem;
    color: #ABA780;
    width: 200px;
    cursor: pointer;

    img{
        width: 100%;
    }

    .title{
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 0.6875rem;
        text-align: center;
        word-wrap: break-word;
        font-family: Canela;
    }

    .price{
        font-size: 0.625rem;
        text-align: center;
        font-family: TT-Chocolate;
    }
}