.product-category {
    position: relative;
    height: 100vh;
    cursor: pointer;

    .title {
        font-size: 36px;
        color: #ABA780;
        transform: rotateZ(270deg);
        position: absolute;
        top: 40%;
        left: -3rem;
        font-family: Canela;
    }

    .category-number {
        font-size: 50px;
        color: #ABA780;
        font-family: Canela;
    }

    .content-container {
        display: flex;
        justify-content: end;
    }

    .product-card {
        width: 280px;
        height: 200px;
        margin-right: 3rem;

        img {
            width: 280px;
        }

        .category-name {
            width: 150px !important;
        }
    }

    .product-card:nth-child(odd) {
        margin-top: 10rem;
    }

    .product-card:nth-child(even) {
        margin-top: 14rem;
    }
}

@media screen and (max-width: 1350px) {
    .product-category {
        position: unset;
        height: auto;

        .title {
            font-size: 1.25rem;
            color: #ABA780;
            transform: none;
            position: relative;
            font-family: Canela;
            top: 0;
            left: 0;
            margin: 1rem;
        }

        .category-number {
            font-size: 3.125rem;
            color: #ABA780;
        }

        .content-container {
            display: block;
            justify-content: center;
        }

        .product-card {
            width: 280px;
            height: auto;
            margin: 1rem auto;

            img {
                width: 280px;
            }

            .category-name {
                font-size: 17px;
                color: #737373;
                text-align: end;
                font-family: Sarabun;
            }
        }

        .product-card:nth-child(odd) {
            margin: 1rem auto;
        }

        .product-card:nth-child(even) {
            margin: 1rem auto;
        }
    }
}