<div class="landing d-flex flex-wrap">
  <div class="left-content">
    <img class="logo" src="../../../assets/images/logo-white.png" />
    <img src="../../../assets/images/landing-left.jpg" />
  </div>
  <div class="right-content">
    <img src="../../../assets/images/landing-right.jpg" />
    <div class="description">
      GLOWING SKIN IS NOT JUST <br />
      A LUXURY, IT'S NECESSITY
    </div>
    <a href="#welcome"><i>See more ></i></a>
  </div>
</div>
