.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #DFDDDC!important;;
    z-index: 100;

    img{
        margin: 1rem;
        width: 110px;
    }

    .menu {
        width: 250px;
        text-decoration: none;
        cursor: pointer;
        color: #737373;
        font-size: 15px;
        font-weight: 700;
        font-family: TT-Chocolate-bold;
    }


    .body{
        width: 100%;
        height: 100%
        }
        
        #sidebarMenu {
            height: auto; /*change here related your menu height*/
            position: fixed;
            display: none;
            overflow: none;
            width: 50%;
            height: 100%;
            z-index: 100;
            top: 60px;
            right: 0;
            // transform: translateY(-171px); /*change here related your menu height*/
        }

        .main-content-wrapper{
            height: 100vh;
            opacity: 0.9;
            background-color: #fff;
        }

        .main-content-wrapper a{
            width: 100%;
            height: 60px;
            display: block;
            background: #fff;
            opacity: 0.9;
            text-align: center;
            padding-top: 15px;
            border: 1px solid #fff;
            color: #737373;
            text-decoration: none;
        }
        #sidebarMenu::-webkit-scrollbar {
            width: 12px;
        }
        #sidebarMenu::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
            border-radius: 10px; 
        }
        #sidebarMenu::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
            border-radius: 10px;
            background: #fff;
            height: 50px;
        }
        .sidebarMenuInner{
            margin:0;
            padding:0;
            border-top: 1px solid rgba(255, 255, 255, 0.10);
        }
        input[type="checkbox"]:checked ~ #sidebarMenu {
            transform: translatey(0);
            display: block;
        }
        input[type=checkbox] {
            transition: all 0.3s;
            box-sizing: border-box;
            display: none;
        }
        .sidebarIconToggle {
            transition: all 0.3s;
            box-sizing: border-box;
            cursor: pointer;
            position: absolute;
            z-index: 100;
            height: 22px;
            width: 22px;
            right:1.5rem;
            top:1.5rem;
            display: none
        }
        .spinner {
            transition: all 0.3s;
            box-sizing: border-box;
            position: absolute;
            height: 3px;
            width: 100%;
            background-color: #000;
        }
        .horizontal {
            transition: all 0.3s;
            box-sizing: border-box;
            position: relative;
            float: left;
            margin-top: 3px;
        }
        .diagonal.part-1 {
            position: relative;
            transition: all 0.3s;
            box-sizing: border-box;
            float: left;
        }
        .diagonal.part-2 {
            transition: all 0.3s;
            box-sizing: border-box;
            position: relative;
            float: left;
            margin-top: 3px;
        }
        input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
            transition: all 0.3s;
            box-sizing: border-box;
            opacity: 0;
        }
        input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
            transition: all 0.3s;
            box-sizing: border-box;
            transform: rotate(135deg);
            margin-top: 8px;
        }
        input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
            transition: all 0.3s;
            box-sizing: border-box;
            transform: rotate(-135deg);
            margin-top: -9px;
    }
}
    
@media screen and (max-width: 1350px) {
    .header {
        .sidebarIconToggle{
            display:block
    }

        .menu {
            display: none;
        }

        img{
            display: none;
        }
    }
}