.know-us{
    position: relative;
    height: 100vh;

    img{
        position: absolute;
        left: 50px;
        bottom: 15%;
        width: 39%;
        margin-right: 2rem;
    }

    .content {
        position: absolute;
        left: 47%;
        top: 20%;

        .title{
            font-size: 4.375rem;
            color: #ABA780;
            font-family: Canela;
        }
    
        .description{
            font-size: 15px;
            font-family: TT-Chocolate;
            color: #737373;
        }
    }
}

@media screen and (max-width: 1350px) {
    .know-us{
        position: initial;
        height: auto;
    
        img{
            position: initial;
            width: 100%;
            margin-bottom: 1rem;
        }
    
        .content {
            position: initial;
            margin: 1rem;
    
            .title{
                font-size: 2rem;
                color: #ABA780;
                font-family: Canela;
            }
        
            .description{
                font-size: 0.875rem;
                font-family: TT-Chocolate;
                color: #737373;
            }
        }
    }
}