.vision-mision{
    height: 100vh;
    position: relative;
    display: flex;

    .img{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 35%;
    }

    .content{
        width: 50%;
        margin-left: 5rem;
   
        .title{   
            font-size: 70px;
            font-family: Canela;
            color: #ABA780;
            margin-top: 10rem;
        }

        p{
            font-size: 15px;
            font-family: TT-Chocolate;
            color: #737373;
        }
    }
}

@media screen and (max-width: 1350px) {
    .vision-mision{
        margin: 0 1rem;
        height: auto;
        position: relative;
        display: block;

        .img{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 35%;
            display: none;
        }
    
        .content{
            width: 100%;
            margin: 0;

            .title{   
                font-size: 32px;
                font-family: Canela;
                color: #ABA780;
            }
        
            p{
                font-size: 15px;
                font-family: TT-Chocolate;
                color: #737373;
            }
        }
    }
}