.about-us {
    height: 100vh;
    display: flex;
    justify-content: space-between;

    .content-left{
        position: relative;
        width: 60%;
        display:flex;
        flex-direction: column;
        margin: 20% auto 0 auto;
        text-align: center;

        .title{
            font-size: 2.625rem;
            font-family: sharpe;
            color: #ABA780;
            margin-bottom: 2rem;
        }

        .sub-title{
            font-size: 22px;
            font-family: Sharpe;
            color: #737373;

            .gold{
                color: #ABA780!important;
                font-size: 22px;
                font-family: Sharpe;
                margin-top: 4rem;
            }
        }

        .icon{
            width: 60px;
        }

        .description{ 
            font-size: 11px;
            color: #737373;
            font-family: TT-Chocolate;
        }

        .footer{
            position: absolute;
            bottom: 0;
            display: flex;
            width: 100%;
            justify-content: space-between;
            color: #737373;

            .left{
                padding: 1rem;
                margin: 1rem;
                font-family: TT-Chocolate;
                

                h6{
                    font-size: 11px;
                    font-weight: 400;
                    margin: 0;
                    text-align: left;
                }

                .email{
                    font-size: 11px;
                    font-weight: 400;
                    margin: 0;
                    text-align: left;
                }
            }

            .right{
                margin-top: 4rem;
                margin-right: 2rem;
            }
        }
    }

    .content-right{
        position: relative;
        width: 40%;

        img{
            position: absolute;
            width: 100%;
            bottom: 0;
            right: 0;
        }
    }
}

@media screen and (max-width: 1350px) {
    .about-us {
        height: auto;
        display: block;
        justify-content: space-between;
        width: 100%;
    
        .content-left{
            position: initial;
            width: 100%;
            display: block;
            text-align: center;
    
            .title{
                font-size: 2.625rem;
                font-family: sharpe;
                color: #ABA780;
                margin-bottom: 2rem;
            }
    
            .sub-title{
                font-size: 1.375rem;
                font-family: Canela;
                color: #737373;
    
                .gold{
                    color: #ABA780!important;
                    margin-top: 4rem;
                }
            }
    
            .icon{
                width: 60px;
            }
    
            .description{ 
                font-size: 11px;
                color: #737373;
                font-family: TT-Chocolate;
            }
    
            .footer{
                position: initial;
                display: block;
                width: 100%;
                color: #737373;
    
                .left{
                    padding: 1rem;
                    margin: 1rem;
                    font-family: TT-Chocolate;
                    
    
                    h6{
                        font-size: 11px;
                        font-weight: 400;
                        margin: 0;
                        text-align: center;
                    }
    
                    .email{
                        font-size: 11px;
                        font-weight: 400;
                        margin: 0;
                        text-align: center;
                    }
                }
    
                .right{
                    margin: 0;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    
        .content-right{
            display: none;
        }
    }
  }