<div class="promotions">
  <div *ngFor="let promotion of promotions" class="card">
    <img [src]="promotion.media[0].url" />
    <i
      ><a [href]="promotion.url" target="”_blank”">{{
        promotion.name.toUpperCase()
      }}</a></i
    >
  </div>
</div>
