.promotions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10% auto;

    .card{
        width: 20%;
        margin: 2rem;
        background-color: transparent;
        border: 0;

        img{
            margin-bottom: 1.5rem;
        }

        i{
            text-align: center;
        }

        a{
            text-decoration: underline;
            cursor: pointer;
            font-size: 0.6875rem;
            font-family: TT-Chocolate;
            color: #737373;
        }
    }
}

@media screen and (max-width: 1350px) {
    .promotions{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10% auto;
    
        .card{
            width: 100%;
            margin: 1rem;
            background-color: transparent;
            border: 0;
            cursor: pointer;
    
            img{
                margin-bottom: 1.5rem;
            }
    
            i{
                text-align: center;
            }
    
            a{
                text-decoration: underline;
                cursor: pointer;
                font-size: 0.6875rem;
                font-family: TT-Chocolate;
                color: #737373;
            }
        }
    }
}