.product-detail {
    .title {
        font-size: 41px;
        color: #ABA780;
        font-family: Canela;
    }

    .content {
        position: relative;
        width: 70%;
        height: 75vh;
        margin: 2rem auto;
        display: flex;
        flex-wrap: wrap;

        .img-courosel {
            width: 45%;
            padding: 0 2rem;
            position: relative;
            right: 0;

            img {
                position: relative;
                width: 100%;
                right: 0;
            }
        }

        .detail {
            width: 55%;
            font-size: 0.75rem;

            .benefit {
                font-size: 14px;
                font-family: TT-Chocolate;
                color: #737373;
                margin-bottom: 4px;
            }

            .desc {
                font-size: 12px;
                font-family: TT-Chocolate;
                color: #737373;
            }
            

            .price {
                color: #ABA780;
                font-size: 1.5rem;
                font-family: TT-Chocolate;
                text-align: right;
            }
        }
    }

    .back-to-previous {
        font-size: 0.75rem;
        color: #ABA780;
        text-decoration: underline;
        padding: 0 4rem 4rem 4rem;
        margin-left: -12rem;
        display: block;
    }

    ::ng-deep .carousel-indicators {
        margin-bottom: -1rem;
    }
    
    ::ng-deep .carousel-indicators li {
        background-color: transparent;
        border:1px solid#737373; 
        width: 0.3rem; 
        height: 0.3rem; 
        border-radius: 50%; 
        margin: 0.1rem;
    }
    ::ng-deep .carousel-indicators li.active {
        background-color: #737373;
        width: 0.3rem; 
        height: 0.3rem; 
        border-radius: 50%; 
        margin: 0.1rem;
    }
}

@media screen and (max-width: 1350px) {
    .product-detail {
        .header {
            display: none;
        }

        .title {
            font-size: 2rem;
            color: #ABA780;
            font-family: Canela;
        }

        .content {
            position: relative;
            width: 100%;
            height: auto;
            margin: 3rem auto;
            display: inline-block;
            flex-wrap: nowrap;

            .img-courosel {
                width: 100%;
                padding: 0 1rem;
                position: inherit;

                img {
                    position: relative;
                    width: 100%;
                    right: 0;
                }
            }

            .detail {
                width: 100%;
                font-size: 0.75rem;
                padding: 1rem;

                p {
                    font-size: 14px;
                    font-family: TT-Chocolate;
                    color: #737373;
                }

                .price {
                    color: #ABA780;
                    font-size: 1.5rem;
                    font-family: TT-Chocolate;
                    text-align: right;
                }
            }
        }

        .back-to-previous {
            font-size: 0.75rem;
            color: #ABA780;
            text-decoration: underline;
            margin: 1rem;
            padding: 0;
            margin-bottom: 2rem;
        }
    }
}


